<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 1px solid paleturquoise; height: 50px;">1</div>
    <div style="border: 1px solid paleturquoise; height: 350px;">2</div>
    <div style="border: 1px solid paleturquoise; display: flex; height: 350px;" >  <!--Flex means making the element inline-->
        <div style="flex: 1; border-right: 1px solid paleturquoise;">3.1</div>
        <div style="flex: 1;">3.2</div>
        <div style="flex: 1; border-left: 1px solid paleturquoise;">3.3</div>
    </div>
    <div style="border: 1px solid paleturquoise; height: 80px;">4</div>
    
</body>
</html>