<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <!--Header part-->
    <div style="border: 1px solid black; height: 50px; display: flex; background-color: black;">
        <div>
            <img src="logo1.png" alt="" width="50px">
        </div>
<!-- Navigation -->

        <div style="flex: 9; background-color: black;">
            <ul type="none" style="display: flex; font-size: large; color: white;">
                <li style="flex: 1;">Mac</li>
                <li style="flex: 1;">iPad</li>
                <li style="flex: 1;">iPhone</li>
                <li style="flex: 1;">Watch</li>
                <li style="flex: 1;">Tv</li>
                <li style="flex: 1;">Music</li>
                <li style="flex: 1;">Support</li>
                <li style="flex: 1;"><img src="SearchButton.png" alt="search_button" width="20px"></li>
                <li style="flex: 1;"><img src="Bag.png" alt="bag_button" width="20px"></li>
            </ul>
        </div>
    </div>

    <!-- Banner -->
    <div style="border: 1px solid black; height: 300px; background-color: black;">
        <img src="Banner-2.jpg" alt="Apple_banner" height="300px" style="align-self: stretch;">
    </div>

    
    <div style="border: 1px solid black; display: flex; height: 350px; background-color: black;" >  <!--Flex means making the element inline-->
        <div style="flex: 1;"><img src="iPhone11.png" alt="iPhone11" height="350px"></div>
        <div style="flex: 1;"><img src="iPhonePro11.png" alt="iPhone11" height="350px"></div>
        <div style="flex: 1; border-left: 1px solid black;"><img src="iPhone11ProMax.png" alt="iPhone11" height="350px"></div>
    </div>

    <div style="border: 1px solid black; height: 80px; background-color: black;">
        <p style="color: white; text-align: center; font-size: large;">&copy Apple 2022</p>
    </div>
    
</body>
</html>